<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-5">
        {{#if loggedIn}}
        <h1>{{log this}}</h1>
        <table class="table table-striped m-0 border">
          <thead>
            <tr>
              <th class="text-white bg-danger" scope="col">Website</th>
              <th class="text-white bg-danger" scope="col">Username</th>
              <th class="text-white bg-danger" scope="col">Password</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="https://www.instagram.com/">https://www.instagram.com/</a></td>
              <td>test123</td>
              <td>passw0rd123!<button class="btn btn-danger ms-3">Copy</button></td>
            </tr>
            <tr>
              <td><a href="https://www.instagram.com/">https://www.instagram.com/</a></td>
              <td>test123</td>
              <td>passw0rd123!<button class="btn btn-danger ms-3">Copy</button></td>
            </tr>
            <tr>
              <td><a href="https://www.instagram.com/">https://www.instagram.com/</a></td>
              <td>test123</td>
              <td>passw0rd123!<button class="btn btn-danger ms-3">Copy</button></td>
            </tr>
          </tbody>
        </table>
        {{else}}
        <a href="/login">You must login first to view saved passwords.</a>
        {{/if}}
      </div>
    </div>
  </div>
</section>