<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-lg-5 col-md-9 p-5 bg-white border rounded align-self-center">
            <h2>Login</h2>

            <form class="loginForm">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="username" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-danger" id="login">Log In</button>
                <p class="text-secondary mb-0 pt-3">Don't have an account? Click here to <a href="/signup">Sign Up.</a>
                </p>
            </form>
        </section>
    </section>
</section>

<script src="/js/login.js"></script>