<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-3 p-5 bg-white border rounded align-self-center">
            <h2>Sign Up</h2>

            <form class="signUpForm">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="username" class="form-control" id="username">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="submit" class="btn btn-danger" id="signUp">Sign Up</button>
                <p class="text-secondary mb-0 pt-3">Already have an account? Click here to <a href="/login">Log In.</a>
                </p>
            </form>
        </section>
    </section>
</section>

<script src="/js/signup.js"></script>